{% extends 'base.html.twig' %}

{% block title %}My Blog - Articles{% endblock %}

{% block body %}
    <h1 class="text-6xl font-bold mb-6">Articles</h1>
    {%  include('article/_list.html.twig') %}
{% endblock %}