{% extends 'base.html.twig' %}

{% block title %}My Blog - {{ article.title }}{% endblock %}

{% block body %}
    <div class="w-full bg-cover p-16 mb-6" style="background-image: url('{{ article.image }}')">
        <h1 class="text-6xl font-bold mt-6 mb-6 text-center">{{ article.title }}</h1>
    </div>
    <div>{{ article.content | nl2br }}</div>
{% endblock %}

